@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lora:ital@1&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500&display=swap');
:root {
  --dark-color: rgb(82, 99, 94);
  --darker: rgb(71, 84, 80);
  --light-color: rgb(155, 211, 195);
  --light-white: rgb(240, 248, 246);
  --dark-black: #212528;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 150px;
}
.loading-img {
  width: 70%;
  text-align: center;
  margin: auto;
}
.loading-img img {
  width: 50%;
}

/* navbar page */
.top-navbar {
  height: 80px;
  opacity: .9;
  z-index: 9999;
}
.top-navbar a {
  text-decoration: none;
  color: #fff;
}
.logo-container {
  width: 20%;
}
.top-navbar .logo img {
  height: 40px;
  margin: 15px 10px 5px 0;
}
.logo-container .logo span {
  color: #fff;
  position: absolute;
  top: 23px;
  font-size: 22px;
  font-weight: 500
} 
.topbar-container .login-register {
  padding: 18px 0;
  height: 45px;
  font-size: 24px;
}
.navbar {
  font-size: 20px;
  height: 50px;
  top: 80px;
  background-color: var(--dark-color);
  opacity: .9;
  color: #fff;
  z-index: 9998;
}
.navbar i {
  margin-right: 3px;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin-top: 0;
  display: inline-block;
}
.navbar-nav {
  position: absolute;
  left: 0;
  margin-top: 0;
}
.navbar-nav .nav-link {
  text-align: center;
  margin: 0 auto ;
  height: 50px;
  margin-right: 20px;
  margin-top: 0px;
}
.navbar-nav .nav-link:hover ,
.navbar-nav .nav-link.active {
  color: var(--light-color) ;
  background-color: var(--dark-black);
}
.navbar .login-register { 
  display: none;
  position: absolute;
  right : 10%;
  top: 15px;
}

/* login & register pages */
.modal-btn {
  border-color: white;
  color: white;
  font-size: 18px;
}
.modal-btn:hover {
  border: 1px solid var(--light-color);
  color: var(--light-color);
}
.registerLoginPage {
  padding: 0 20px;
  display: none;
}
.registerLoginPage h5 {
  margin-bottom: 20px;
}

/* single show page */
.card-container {
  background-color: var(--dark-color);
  color: #fff;
  width: 200px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
}
.card-container img {
  border-radius: 10px 10px 0 0;
  width: 100% !important;
}
.card-body {
  padding: 0;
}
.card-container:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
.card-container .card-title {
  font-size: 16px;
  padding: 15px 0 0 10px;
}
.card-container .heart-rating {
  padding: 0 10px 15px 10px;
}
.heart-rating .fa-star {
  color: gold;
}

/* loading page  */
.loading , 
.error {
  position: relative;
  width: 70%;
  height: 100vh;
  margin: auto;
  text-align: center;
}
.loading img ,
.error img {
  width: 250px;
}
.loading h2 ,
.error h2 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 50px auto;
}

/* favorite icon */
.favorite-icon i {
  font-size: 22px;
  cursor: pointer;
  color: #fff;
}
.favorite-icon i.red {
  color: red;
}

/* about */
.about-page {
  min-height: 100vh;
}
.aboutpage-content {
  width: 90%;
  margin: auto;
}
.about-page h1 {
  margin: 20px 0;
}
.about-page .intro {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 30px;
}
.about-page span {
  color: var(--dark-color);
  font-size: 20px;
}
.about-page  a {
  text-decoration: none;
  color: var(--dark-color);
  color: rgb(255, 28, 2);
  font-size: 20px;
}
.about-page h4 {
  margin: 20px 0;
}
.about-page ol li {
  margin: 10px 0;
  font-size: 17px;
}

/* show details page  */
.show-details {
  padding-top: 20px;
  min-height: 700px;
}
.show-details .show_title {
  margin-bottom: 40px;
}
.show-details-container {
  display: flex;
}
.show-details-container .container-cart {
  flex: 2;
}
.show-details-container .text-details {
  flex: 6;
  padding-left: 20px;
}
.show-details-container .text-details h3 {
  margin: 15px 0;
}
.show-details-container .favHeart {
  background-color: var(--dark-color);
  text-align: center;
  color: #fff;
  padding: 10px 0;
  justify-content: center;
}
.show-details-container .favHeart:hover {
  background-color: var(--darker)
}
.show-details-container .favHeart span {
  margin-left: 10px;
}
.text-details .list-group-item span {
  margin: 0 5px;
  display: inline-block;
}
.text-details p {
  margin: 20px 0;
  line-height: 1.7;
  font-size: 18px;
}
.show-details-container .summary {
  margin-top: 20px;
}
.show-details-container .show-info {
  flex: 4;
  margin-left: 20px;
}
.show-details-container .show-info-content {
  background-color:rgb(249, 249, 249);
  border-radius: 3px;
  padding: 20px;
}
.show-details-container .show-info h3 {
  margin: 15px 0;
  font-size: 32px;
  font-weight: 200;
  color: #666;
  text-transform: capitalize;
}
.show-details-container .show-info li {
  margin: 10px 0;
}
.show-details .show-cast {
  margin: 30px 0;
}
.show-cast h3 {
  margin: 15px 0;
  font-size: 32px;
  font-weight: 200;
  color: #666;
}
.show-cast .person {
  margin: 10px 0;
  width: 400px;
}
.show-cast .person img {
  width: 150px;
  margin-right: 10px;
}

/* favorites page */
.favorites_page {
  min-height: 100vh;
  margin-top: 20px;
  text-align: center;
  width: 70%;
  margin: auto;
}
.favorites_page h1 {
  text-align: center;
  margin: 100px 0 50px;
  font-size: 40px;
}
.favorites_page .doit_img {
  width: 250px;
  border-radius: 10px ;
}
.favorites_page .clear_fav {
  border: 1px solid var(--dark-color);
  padding: 10px 15px;
  margin: 30px 0;
  text-transform: capitalize;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.favorites_page .clear_fav:hover {
  background-color: var(--dark-color);
  color:#fff
}

/* pagination */
.pagination {
  margin-bottom: 30px;
  justify-content: center;
}
.pagination_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pagination .active_page {
  background-color: var(--dark-black);
  border: 1px solid var(--dark-black);
  color:#fff !important;
}
.pagination .page-link {
  color: var(--dark-black);
  border: 1px solid var(--dark-black);
}
.pagination .prv_next {
  background-color: var(--light-white);
}

/* people page & person page */
.people-page {
  margin-bottom: 20px;
  position: relative;
}
.people-page h1 {
  margin-bottom: 30px;
}
.pagination-person {
  overflow: hidden;
  width: 200px;
  text-align: center;
  background-color: var(--dark-color);
  margin-bottom: 20px;
  position: relative;
  color: #fff;
}
.pagination-person a {
  color: #fff;
  text-decoration: none;
  background-color: var(--dark-color);
  width: 100%;
  border: 1px solid #fff;
  padding: 1px 50px;
}
.pagination-person a:hover {
  color: var(--dark-color);
  background-color: rgb(255, 255, 255);
}
.pagination-person img {
  width: 100%;
}
.pagination-person h5 {
  padding: 10px 0;
}
.pagination-person:hover .person-info {
  bottom: -15px;
}
.person-info {
  background-color: rgba(82, 99, 94, 0.8);
  position: absolute;
  width: 100%;
  bottom: -100%;
  color: #fff;
  padding-top: 10px;
  transition: all .5s ease-in-out;
}
.person-info li {
  margin-bottom: 10px;
}
.people-page .back_people {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
}
.search_people_form {
  position: absolute;
  right: 0;
  top: 10px;
}
.search_people_field {
  height: 30px;
  border: 1px solid var(--dark-color);
  border-radius: 5px 0 0 5px;
  text-indent: 5px;
}
.search_people_btn {
  border: 1px solid var(--dark-color);
  height: 30px;
  background-color: var(--dark-color);
  color: #fff;
  margin-top: -5px;
  padding: 3px 5px;
  border-radius: 0 5px 5px 0;
}

/* footer  */
.footer {
  padding: 10px 0;
  background-color: var(--dark-black);
  color: #fff;
  text-align: center;
  width: 100%;
}
.footer .facebook {
  color: #4584ff;
}
.footer .twitter {
  color: rgba(67, 171, 240, 0.837)
}
.footer .instagram {
  color: #e4405f;
}
.footer .reddit {
  color: #ff4500;
}
.footer .social-media ul li {
  margin: 10px 0 0 15px;
  display: inline-block;
  font-size: 22px;
}
.footer .social-media ul i:hover {
  color:#fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.footer h6 {
  font-weight: normal;
  font-size: 18px;
}

/* media query  */
@media (max-width: 575px) { 
  .top-navbar {
    height: 60px;
  }
  .logo-container {
    width: 35%; 
  }
  .top-navbar .logo img {
    height: 30px;
    margin: 15px 10px 0px 0;
  }
  .logo-container .logo span {
    font-size: 20px; 
    top: 15px;
  } 
  .topbar-container .login-register {
    display: none;
  }
  .navbar {
    top: 60px;
    height: 60px;
  }
  .navbar-nav {
    width: 100%;
    background-color:  var(--light-white);
    opacity: 1;
    margin-top: 10px;
    border-radius: 0px 0 10px 10px;
    margin-top: 30px;
  }
  .navbar .navbar-toggler {
    background-color: #fff;
    text-align: center;
    position: absolute;
    left: 13px;
    top: -20px;
    width: 45px;
    height: 40px;
    background-size: 85%;
  }
  .navbar-nav .nav-link {
    font-size: 18px;
    color: var(--dark-black);
    font-weight: 600;
    width: 100%;
  }
  .navbar-nav .nav-link:hover ,
  .navbar-nav .nav-link.active {
    color: var(--dark-black) ;
    background-color:  var(--light-color)
  }
  .navbar .login-register {
    display: block;
  }
  .navbar .login-register a:hover,
  .navbar .login-register a.active {
    color: var(--light-white);
  }
  .navbar .login-register >:first-child {
    margin-right: 20px;
  }
  .registerLoginPage {
    display: block;
    width: 90%;
    margin: auto;
  }
  .favorites_page h1 {
    font-size: 28px;
  }
  .pagination .page-link {
    width: 23px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    align-items: center;
  }
  .pagination .prv_next {
    width: 55px;
  }
  .show-details {
    width: 90%;
  }
  .show-details .show_title {
    text-align: center;
  }
  .show-details-container {
    display: block;
  }
  .container-cart {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
  }
  .text-details {
    width: 100%;
    margin-left: 0px;
  }
  .text-details .list-group-item span {
    margin: 10px auto;
    display: inline-block;
    width: 23%;
    margin-left: 5px;
  }
  .text-details p {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 15px;
    width: 100%;
  }
  .footer h4 {
    font-size: 16px;
  }
  .footer .social-media ul li {
    margin: 5px 0 0 10px;
    font-size: 16px;
  }
  .footer h6 {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 765px) {  
  .top-navbar {
    height: 60px;
  }
  .logo-container {
    width: 35%;
  }
  .top-navbar .logo img {
    height: 33px; 
    margin: 15px 10px 0px 0;
  }
  .logo-container .logo span {
    font-size: 20px; 
    top: 18px;
  }
  .topbar-container .login-register {
    display: none;
  }
  .navbar {
    top: 60px;
    height: 60px;
  }
  .navbar-nav {
    width: 100%;
    background-color:  var(--light-white);
    opacity: 1;
    margin-top: 10px;
    border-radius: 0px 0 10px 10px;
    margin-top: 10px;
  }
  .navbar .navbar-toggler {
    background-color: #fff;
    width: 45px;
    height: 40px;
    background-size: 85%;
  }
  .navbar-nav .nav-link {
    font-size: 19px;
    color: var(--dark-black);
    font-weight: 600;
    width: 100%;
  }
  .navbar-nav .nav-link:hover ,
  .navbar-nav .nav-link.active {
    color: var(--dark-black) ;
    background-color:  var(--light-color)
  }
  .navbar .login-register {
    display: block;
  }
  .navbar .login-register a:hover,
  .navbar .login-register a.active {
    color: var(--light-white);
  }
  .navbar .login-register >:first-child {
    margin-right: 20px;
  }
  .registerLoginPage {
    display: block;
    width: 80%;
    margin: auto;
  }
  .favorites_page h1 {
    font-size: 32px;
  }
  .pagination .page-link {
    width: 25px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    align-items: center;
  }
  .pagination .prv_next {
    width: 60px;
  }
  .show-details {
    width: 90%;
  }
  .show-details .show_title {
    text-align: center;
  }
  .show-details-container {
    display: block;
  }
  .container-cart {
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
  }
  .text-details {
    width: 100%;
    margin-left: 0px;
  }
  .text-details .list-group-item span {
    margin: 10px auto;
    display: inline-block;
    width: 23%;
    margin-left: 10px;
  }
  .text-details p {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    width: 100%;
  }
  .footer .social-media ul li {
    margin: 5px 0 0 10px;
    font-size: 17px;
  }
  .footer h6 {
    font-size: 17px;
  }
}

@media (min-width: 766px) and (max-width: 991px) {  
  .top-navbar {
    height: 60px;
  }
  .logo-container {
    width: 35%;
  }
  .top-navbar .logo img {
    height: 37px;
    margin: 11px 10px 0px 0;
  }
  .logo-container .logo span {
    font-size: 22px; 
    top: 18px;
  }
  .topbar-container .login-register {
    display: none;
  }
  .navbar {
    top: 60px;
    height: 60px;
  }
  .navbar-nav {
    width: 100%;
    background-color:  var(--light-white);
    opacity: 1;
    margin-top: 10px;
    border-radius: 0px 0 10px 10px;
    margin-top: 10px;
  }
  .navbar .navbar-toggler {
    background-color: #fff;
    width: 45px;
    height: 40px;
    background-size: 85%;
  }
  .navbar-nav .nav-link {
    font-size: 20px;
    color: var(--dark-black);
    font-weight: 600;
    width: 100%;
  }
  .navbar-nav .nav-link:hover ,
  .navbar-nav .nav-link.active {
    color: var(--dark-black) ;
    background-color: var(--light-color);
  }
  .navbar .login-register {
    display: block;
  }
  .navbar .login-register a:hover,
  .navbar .login-register a.active {
    color: var(--light-white)
  }
  .navbar .login-register >:first-child {
    margin-right: 20px;
  }
  .registerLoginPage {
    display: block;
    width: 80%;
    margin: auto;
  }
  .favorites_page h1 {
    font-size: 34px;
  }
  .show-details {
    width: 80%;
  }
  .show-details .show_title {
    text-align: center;
  }
  .show-details-container {
    display: block;
  }
  .container-cart {
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
  }
  .text-details {
    width: 100%;
    margin-left: 0px;
  }
  .text-details .list-group-item span {
    margin: 10px auto;
    display: inline-block;
    width: 25%;
    margin-left: 10px;
  }
  .text-details p {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 15px;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) { 
  .navbar-nav .nav-link {
    font-size: 20px;
  }
  .favorites_page h1 {
    font-size: 36px;
  }
  .show-details {
    width: 90%;
  }
  .show-details-container {
    display: flex;
  }
  .text-details {
    width: 100%;
    margin-left: 0px;
  }
  .text-details .list-group-item span {
    margin: 10px;
    display: block;
    width: 30%;
  }
  .text-details p {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    width: 100%;
  }
}
